# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
build/
coverage/

# Env files
.env
.env.local
.env.*.local
!env.production.template

# OS files
.DS_Store
desktop.ini

# Editor files
.vscode/*
!.vscode/extensions.json
.idea

# Misc
*.local
*.zip
*.mp4

# Test / temp scripts
test-*.js

# Production
.vercel
.render

# Database
*.db
*.sqlite
.vercel
